

<section class="ani">
  <!-- <h2 data-text="ReadyAssist..." class="assist">ReadyAssist...</h2> -->
  <h2 class="assist"><span>QUALITY</span> IS <span>REMEMBERED</span></h2>
</section>



 


<body>
<header>




<div class="header-body">
  <div>
    <h1>Join The Jorney</h1>
    <h2>with ReadyAssist</h2><br>

    <p>24/7 Support anywhere , anytime in INDIA.</p>
        
  </div>
</div>
</header>

<section class="about">
  <div class="header">
    <h2>
      Feel like Stuck? <br>
      no worries, we've got you'r back.
    </h2> <br>
    <p>ReadyAssist is one of the top notch company which provides 24/7 services to the clients, no matter where they are in the country.
      it's established in more than 20 states all across INDIA.
      providing multiple services like, Jump Start, Emergency Fuling, Unknown Breakdown and whatnot.
      proving it's worth in the entire nation, ReadyAssist proudly amits to be the leading Service provider across INDIA.
    </p> 
  </div>
  <div class="infos">
    <div class="info">
      <img src="../../assets/icon1.png" alt="icon">
      <div>
        <h3>Agility</h3>
        <p>Built With QUALITY, working with 1L+ people across india..</p>
      </div>
    </div>
    <div class="info">
      <img src="../../assets/icon2.png" alt="icon">
      <div>
        <h3>Fastest Service.</h3>
        <p>Accelerating through the market providing the fastest service ever.
        </p>
      </div>
    </div>
    <div class="info">
      <img src="../../assets/icon3.png" alt="icon">
      <div>
        <h3>Cutting Edge</h3>
        <p>number of services in your hand right now.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="specs">
  <div>
    <div class="specs-header">
      <h2>Overall Services</h2>
      <span>4/2Wheeler</span>
    </div>
    <ul>
      <li>
        <span>Engine Abruption</span>
        <span>4 / 2 wheeler</span>
      </li>
      <li>
        <span> power Jump</span>
        <span>4 / 2 wheeler</span>
      </li>
      <li>
        <span>Stepney change</span>
        <span>4 / 2 wheeler</span>
      </li>
      <li>
        <span>Clutch cable Replacement</span>
        <span>4 / 2 wheeler</span>
      </li>
      <li>
        <span>Emergency Fuel Delivery</span>
        <span>4 / 2 wheeler</span>
      </li>
      <li>
        <span> Flatbed Towing</span>
        <span>4 wheeler</span>
      </li>
      <li>
        <span>Car Chain-lift Towing.</span>
        <span>4 wheeler</span>
      </li>
      <li>
        <span>Spare Tyre Change</span>
        <span>4 / 2 wheeler</span>
      </li>
      <li>
        <span>On Spot Minor Repairs</span>
        <span>4 / 2 wheeler</span>
      </li>
    </ul>
  </div>
</section>

<section class="Cards">

  <div class="card-header-body">
    <div>
      <div>
        <p>
          24/7 Roadside Assistance Support for your Car across
           India by ReadyAssist

        </p>
        <span class="bar"></span>
        <h1>SUBSCRIPTION</h1>
      </div>
      <div>
        <h1>PLANS</h1>
        <span class="bar"></span>
        <p>
          Get your freedom to drive anytime anywhere in India with 24/7 Roadside
          assistance from ReadyAssist through our 4W Freedom plan.
        </p>
      </div>
     
    </div>
  </div>

  <!-- <div class="heading">
    <div>
      <div>
        <p>
          24/7 Roadside Assistance Support for your Car across India by ReadyAssist
        </p>
        <span class="bar"></span>
        <h1>SHANMUKH</h1>
      </div>
      <div>
        <h1>RAM</h1>
        <span class="bar"></span>
        <p>
          Get your freedom to drive anytime anywhere in India with 24/7 Roadside
           assistance from ReadyAssist through our 4W Freedom plan.
        </p>
      </div> -->
      
    <!-- </div>
  </div> -->
  <div class="container">
    <div class="card">
      <div class="imgBx">
        <img src="../../assets/Roadside-Assistance-Wales.jpg">
      </div>
      <div class="content">
        <div class="contentBx">
          <h3>Car Basic <br> <span>24/7 Roadside Assistance</span></h3>
        </div>
        <ul class="sci">
          <li><a href="#">Rs.1699/-</a></li>
        </ul>
      </div>
    </div>
    <div class="card">
      <div class="imgBx">
        <img src="../../assets/road car.jpg">
      </div>
      <div class="content">
        <div class="contentBx">
          <h3>CAR PRO <br> <span>get your car covered 24/7</span></h3>
        </div>
        <ul class="sci">
          <li><a href="#">Rs.2749/-</a></li>
        </ul>
      </div>
    </div>
    <div class="card">
      <div class="imgBx">
        <img src="../../assets/0_490_735_0_70_http___img.haymarketsac.in_autocarpro_fbcc5212-69dc-46dc-85ea-f2d10a4b7879.jpg">
      </div>
      <div class="content">
        <div class="contentBx">
          <h3>2 Wheeler Basic <br> <span>Flat tyre , breakdown, free for 3 instances.</span></h3>
        </div>
        <ul class="sci">
          <li><a href="#"> Rs.999/-</a></li>
        </ul>
      </div>
    </div>
    <div class="card">
      <div class="imgBx">
        <img src="../../assets/car.png">
      </div>
      <div class="content">
        <div class="contentBx">
          <h3>4 Wheeler Basic <br> <span>Flat tyre , breakdown, free for 3 instances.</span></h3>
        </div>
        <ul class="sci">
          <li><a href="#"> Rs.999/-</a></li>
        </ul>
      </div>
    </div>
   
  </div>
</section>

<!-- <section class="panels">
  <h1>
    P<BR>
      A<BR>
        N<BR>
          N<BR>
            E<BR>
              L<BR>
  </h1>
  
   
  
  
   <div class="header-body">
    <div>
      <div>
        <p>
          Roadside assisance from ReadyAssist on DriveU is a great addition
          for our Customers.

        </p>
        <span class="bar"></span>
        <h1>we are Strategic</h1>
      </div>
      <div>
        <h1>Care Partner</h1>
        <span class="bar"></span>
        <p>
          Shell continues to stand for powering progress and to support the community
          of mechanics.provide them with high quality service.
        </p>
      </div>
     
    </div>
  </div> -->




    <!-- <div class="panels-sm">
      <div class="panel">
        <div>
          <div class="icon">
            <fa-icon [icon]="fafire"></fa-icon> -->
          <!-- </div>
          <h2>Power and Speed Unlished</h2>
          <a href="#">
            <span>Learn More</span>
            
            <fa-icon [icon]="faArrow"></fa-icon>
          </a>
        </div>
      </div>
      <div class="panel"></div>
      <div class="panel"></div>
      <div class="panel">
        <div>
          <div class="icon">
            <fa-icon [icon]="faDrop"></fa-icon>
          </div>
          <h2>Respectful to Envirement</h2>
        </div>
      </div>
    </div>
    
</section> --> 

<section class="assist-stats">
    <div class="stats">
      <div>
        <h1 class="counter" data-target="206" data-speed = "10">>5000+</h1>
        <h1>SERVICE PATTERNS</h1>
        <h5>SERVICE PATTERNS</h5>
      </div>
      <div>
        <h1 class="counter" data-target="7" data-speed="500">> 16650</h1>
        <h1>PIN</h1>
        <h5>PIN CODES</h5>
      </div>
      <div>
        <h1 class="counter" data-target="473" data-speed="1">> 1L+</h1>
        <h1>SUB</h1>
        <h5>SUBSCRIBED</h5>
      </div>
    </div>
  </section>

    <section class="model">

      <div class="header-body">
        <div>
          <div>
            <p>
              24/7 Roadside Assistance Support for your Car across
               India by ReadyAssist
            </p>
            <span class="bar"></span>
            <h1>Buy A Subscription</h1>
          </div>
          <div>
            <h1>Book A Service</h1>
            <span class="bar"></span>
            <p>
              Emergency fuel, key lock assistance, starting problem, 
              flat tyre fixing, jump start.
            </p>
          </div>
          
        </div>
      </div>
      <!-- <div class="model-header-body">
        <div>
          <div>
            <p>
              24/7 Roadside Assistance Support for your Car across
               India by ReadyAssist
    
            </p>
            <span class="model-bar"></span>
            <h1>Buy A Subscription</h1>
          </div>
          <div>
            <h1>Book A Service</h1>
            <span class="model-bar"></span>
            <p>
              Emergency fuel, key lock assistance, starting problem, 
              flat tyre fixing, jump start.
            </p>
          </div>
         
        </div>
      </div> -->

      <div class="car">
        <div class="circle">
          <img src="../../assets/car.png" alt="car">
          <div class="inner-md-circle"></div>
          <div class="inner-sm-circle"></div>
        </div>
      </div>
</section>

<section class="newscard">

  <div class="header-body">
    <div>
      <div>
        <p>
          Roadside assisance from ReadyAssist on DriveU is a great addition
          for our Customers.

        </p>
        <span class="bar"></span>
        <h1>Popular NEWS </h1>
      </div>
      <div>
        <h1>about READY ASSIST.</h1>
        <span class="bar"></span>
        <p>
          Shell continues to stand for powering progress and to support the community
          of mechanics.provide them with high quality service.
        </p>
      </div>
     
    </div>
  </div>


    <div class="ncard">
        <div class="imgBxx">
          <img src="../../assets/news1.jpeg">
        </div>
        <div class="contentt">
          <div class="detailss">
            <h2>Ready Assist <br><span>With Shell to set up quick changes across India.</span></h2>
            <div class="dataa">
              <p>New Delhi: Leading global lubricant supplier Shell on Monday joined hands with the Bengaluru-based 24x7 roadside assistance startup ReadyAssist to offer a  oil change service across  the country</p>
              </div>
              <div class="newslogo">
                <img src="../../assets/auto1.png">
              </div>
          </div>
        </div>
    </div>
    <div class="ncard">
      <div class="imgBxx">
        <img src="../../assets/news2.jpeg">
      </div>
      <div class="contentt">
        <div class="detailss">
          <h2>Ready Assist <br><span>Partners with DriveU to offer special roadside assistance</span></h2>
          <div class="dataa">
            <p>ReadyAssist has designed a unique first-of- its-kind
               Weekend RSA Subscription Plan that will provide 24/7 
              Roadside Assistance support PAN India for three days, 
              for DriveU customers.
              states DriveU recently.
            </p>
            </div>
            <div class="newslogo">
              <img src="../../assets/auto2.png">
            </div>
        </div>
      </div>
  </div>
  <div class="ncard">
    <div class="imgBxx">
      <img src="../../assets/news3.jpg">
    </div>
    <div class="contentt">
      <div class="detailss">
        <h2>Are You Stuck? <br><span>In the Monsoon? best vehicle breakdown assistance avaliable.</span></h2>
        <div class="dataa">
          <p> best vehicle breakdown assistance platforms 
            that can help/rescue you during
             monsoon if you  stuck in the middle of the road:
              well subscribe  and never feel discomfort.
            </p> 
          </div>
          <div class="newslogo">
            <img src="../../assets/auto3.png">
          </div>
      </div>
    </div>
</div>
<div class="ncard">
  <div class="imgBxx">
    <img src="../../assets/news4.jpeg">
  </div>
  <div class="contentt">
    <div class="detailss">
      <h2>On Demand <br><span>vehicle service and repair Startup.</span></h2>
      <div class="dataa">
        <p>Here are  vehicle breakdown assistance
            can help/rescue you during monsoon
           if you are stuck in  the road:
           well ready assist states that from the year 2023 the
            disturbence with vehicle would drastacly end.</p>
        </div>
        <div class="newslogo">
          <img src="../../assets/auto2.png">
        </div>
    </div>
  </div>
</div>

</section>



<section>
<div class="last-container">
  <footer>
    <div>
      
      <a href="#">assist
        <img src="../../assets/ezgif.com-gif-maker.png" alt="">
      </a>
      <p>
        We are here in you worst situtations. Our Work Speaks
      </p>
      <hr />
      <h3>Get the Latest Updates</h3>
      <form>
        <div class="input-wrap">
          <input type="email" placeholder="Enter Your Email"
          />
          <button type="submit" class="btn btn-primary">
            Send
          </button>
        </div>
      </form>
    </div>
    <div>
      <h3>Quick Links</h3>
      <ul>
        <li><a href="#">Websites</a></li>
        <li><a href="#">Demo Trials</a></li>
        <li><a href="#">Optimize Time</a></li>
        <li><a href="#">Visual Checking</a></li>
        <li><a href="#">Activity Log</a></li>
        <li><a href="#">Revise Web</a></li>
      </ul>
    </div>
    <div>
      <h3>Information</h3>
      <ul>
        <li><a href="#">Market Explore</a></li>
        <li><a href="#">Ready Token</a></li>
        <li><a href="#">Main Option</a></li>
        <li><a href="#">File Checking</a></li>
        <li><a href="#">Blog Grid</a></li>
        <li><a href="#">Fix Bug</a></li>
      </ul>
    </div>
    <div>
      <h3>Company</h3>
      <ul>
        <li><a href="#">Upload Files</a></li>
        <li><a href="#">Market Place</a></li>
        <li><a href="#">Web Details</a></li>
        <li><a href="#">Recent Activity</a></li>
        <li><a href="#">Conditions</a></li>
        <li><a href="#">Privacy Policy</a></li>
      </ul>
    </div>
    <div>
      <h3>Social Media</h3>
      <ul>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Instagram</a></li>
        <li><a href="#">Linkedin</a></li>
        <li><a href="#">Whatsapp</a></li>
        <li><a href="#">Telegram</a></li>
        <li><a href="#">Twitter</a></li>
      </ul>
    </div>
  </footer>
</div><br>
<br>

<div class="last">
  <h2>Made With <fa-icon id="heart" [icon]="faHeart"></fa-icon> By Shanmukh Ram</h2>
</div>
</section>

</body>